{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panneau de modération</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/053139c009.js" crossorigin="anonymous"></script>
    <link href="{% static 'moderator/userboard.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2" id="side-menu">
                <div class="row">
                    <div class="col-lg-3 align-self-center"><i class="fas fa-user-circle fa-3x"></i></div>
                    <div class="col-lg-8 align-self-center">{{user.email}}</div>
                </div>
                <hr class="my-2" />
                <div class="row">
                {% block side_menu %}
                <div class="col-lg-12">
                    <div class="col-12"><a href="{% url 'private_locations' %}" class="btn btn-primary btn-side-menu">Mes lieux</a></div>
                    <div class="col-12"><a href="{% url 'userprofile' %}" class="btn btn-primary btn-side-menu">Mon profil</a></div>
                </div>
                {% endblock %}
                </div>
                <div class="row align-items-end">
                <div class="col-lg-12 text-center"><a href="{% url 'create_loc' %}" class="fas fa-plus-square fa-3x" title="Créer un lieu"></a></div>
                </div>
                </div>
            <div class="col-lg-10">
                <div class="row align-items-center" id="top-menu">
                    <div class="col-lg-10">
                        <h1>{% block title %} Interface de {{user.email}} {% endblock %}</h1>
                        <h4>{% block subtitle %}{% endblock %}</h4>
                    </div>
                    <div class="col-lg-2">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-secondary">Déconnexion</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row align-content-around justify-content-around" id="content">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'home/home.js' %}"></script>
</html>
