{% extends 'moderator/userboard_base.html' %}
{% block content %}
    <h2 class="col-lg-12">Mes favoris</h2>
    <div class="col-lg-12">
    {% for favorite in favorites %}
        <a href="{% url 'location' favorite.location.slug %}">{{ favorite.location.name }}</a> <br />
    {% endfor %}
    </div>
    <h2 class="col-lg-12">Lieux de bénévolat</h2>
{% for entry in volunteerbase %}
    <a href="{% url 'location' entry.location.slug %}"> {{ entry.location.name }} </a>
    {% if entry.volunteering_request.validated == True %}
        <b>Vous êtes bénévoles</b>
    {% elif entry.volunteering_request.validated == False %}
        <b>Le modérateur n'a pas encore validé votre requête </b>
    {% else %}
        <b>Vous avez reçu une requête de bénévolat, l'accepter ?</b>
        <a href="{% url 'accept_vol' entry.volunteering_request.pk %}">OUI</a>
    {% endif %}
    <br />
{% endfor %}
    <h2 class="col-lg-12">Lieux modérés</h2>
    {% for entry in moderated %}
        <div class="col-lg-12">
        <a href="{% url 'location' entry.slug %}">{{ entry.name }}</a> <br />
        </div>
    {% endfor %}
{% endblock %}