{% extends 'home/index.html' %}
{% block header %}
    {{ location.name }}
{% endblock %}
{% block content-left %}
        {% if opened %}<h2>Ce lieu est ouvert !</h2>{% endif %}
        {{ location.description }}
        <p>Lien direct : {{ request.build_absolute_uri }}</p>
{% endblock %}
{% block content-right %}
        {%if statuses %} <!-- TODO : Add pagination for case of numerous statuses -->
            <h3 class="col-lg-12">Dernières activités du lieu</h3>
            <div id="accordeon" class=" col-lg-12">
        {% for status in statuses|slice:'0:11'%}
              <div class="card">
                <div class="card-header text-center">
                    <a href="#id{{status.pk}}" class="card-link" data-toggle="collapse" data-parents="#accordeon">
                      {{ status.activity}}
                    </a>
                </div>

                <div class="collapse" id="id{{status.pk}}">
                  <div class="card-body">
                    {% if status.description %}<p class="card-text"> {{ status.description }}</p>{% endif %}
                    <p class="card-text"> Ouverture : {{ status.open_date }}</p>
                     {% if status.close_date %}<p class="card-text"> Fermeture : {{ status.close_date }}</p>{% endif %}
                  </div>
                </div>
              </div>
        {% endfor %}
                </div>
        {% endif %}
{% endblock %}