{% extends 'moderator/userboard_base.html' %}

{% block title %}
    {{location.name}}
    {% if is_favorite %}
        <i class="fav fas fa-star" title="Ce lieu est dans vos favoris"></i>
    {% else %}
        <a href="{% url 'new_fav' location.slug %}" class="far fa-star fav"></a>
    {% endif %}
{% endblock %}

{% block subtitle %}
    {% if user.is_authenticated %}
        {% if disclaimer %}
             <b>{{ disclaimer }}</b>
             {% if location_mod %}
                <a href="{% url 'volunteers_panel' location.slug %}" class="btn btn-secondary">Panneau de modération</a>
            {% endif %}
            {% if opened %}
            <a href="{% url 'close_status' location.slug %}" class="btn btn-secondary">Fermer le lieu
            </a>
        {% else %} <!--TODO : "Ouvrir le lieu" proposé pour les volunteers en attente d'acceptation -->
             <a href="{% url 'add_status' location.slug %}" class="btn btn-secondary">Ouvrir le lieu</a>
         {% endif %}
        {% else %}
            <a href="{% url 'require_volunteering' location.slug %}" class="btn btn-secondary">
                Proposer d'être bénévole
             </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

<div class="col-lg-6">
    <p>{{ location.description }}</p>
    <p>Modérateur : {{ location.moderator.email }}</p>
    <div>Bénévoles : <ul>{% for entry in location.volunteerbase_set.all %}
                <li>{{ entry.volunteer.email }}</li>
            {% if entry.volunteering_request.validated != True %}
        <b>Demande de confirmation</b>
            {% endif %}
        {% endfor %}</ul>
    </div>
    </div>
<div class="col-lg-6 justify-content-center gmap">Interactive Map placeholder / WiP</div>

    {%if statuses %} <!-- TODO : Add pagination for case of numerous statuses -->
        <h3 class="col-lg-12">Dernières activités référencées du lieu</h3>
            <div id="accordeon" class=" col-lg-12 justify-content-center">
        {% for status in statuses|slice:'0:11' %}
              <div class="card">
                <div class="card-header text-center">
                    <a href="#id{{status.pk}}" class="card-link" data-toggle="collapse" data-parents="#accordeon">
                      {{ status.activity}}
                    </a>
                </div>

                <div class="collapse" id="id{{status.pk}}">
                  <div class="card-body">
                    {% if status.description %}<p class="card-text"> {{ status.description }}</p>{% endif %}
                    <p class="card-text"> Ouverture : {{ status.open_date }}</p>
                     {% if status.close_date %}<p class="card-text"> Fermeture : {{ status.close_date }}</p>{% endif %}
                  </div>
                </div>
              </div>
        {% endfor %}
                </div>
    {% endif %}
{% endblock %}

