{% extends 'home/index.html' %}
{% block header %}
    <h2>Inscription</h2>
{% if duplicate_username %}
    <strong>Ce compte existe déjà, veuillez en saisir un nouveau ou
        bien <a href="{% url 'login' %}"> connectez-vous ici</a></strong>
{% endif %}
<form action="{% url 'signin' %}" method="post" class="passwordForm">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="password" id="validation" class="form-control" placeholder="Confirmation du mot de passe" /><br />
    <span id="warningPassword"></span>
    <input type="submit" value="Créer un compte" class="btn btn-primary"/>
    <a href="{% url 'login' %}"><input type="button" value="J'ai déjà un compte" class="btn btn-secondary" /></a>
</form>
<br>
{% endblock %}