<html>
 <head>
   <title>Test</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 100%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>
   <h1>Statuses record</h1>
   <table>
     <thead>
       <tr>
         <th>Event Name</th>
         <th>Opened By</th>
         <th>Open datetime</th>
         <th>Close datetime</th>
         <th>Opening duration</th>
       </tr>
     </thead>
     <tbody>
       {% for status in statuses %}
         <tr>
           <td>{{ status.activity }}</td>
           <td>{{ status.volunteer }}</td>
           <td>{{ status.open_date }}</td>
           <td>{{ status.close_date }}</td>
           <td>{{ status.open_time.pretty }}</td>
         </tr>
       {% endfor %}
         <tr>
           <td colspan="2">Total opening duration</td>
           <td colspan="3">{{ global_opening }}</td>
         </tr>
     </tbody>
   </table>
 </body>
</html>
