td, th {
    text-align: center;
    border: 1px solid;
}

thead,tfoot {
    background-color: #333;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #ffcd07;
}

.fav {
    color : #e9bc07;
}

.btn-side-menu {
    margin-top:1em;
    padding-right: 2px;
    padding-left: 2px;
    width: 100% ;
}

.gmap {
    background-color: chartreuse;
}

.card-header {
    background-color: rgba(58, 157, 255, 0.25);
}

.del-button {
    background-color: #9b0000;
    border-color: #9b0000;
}

.del-button:hover {
    background-color: #dc000a;
    border-color: #dc000a;
}

#top-menu {
    background-color: aqua;
    padding: 1.2em 1.5em;
}

#side-menu {
    background-color: #9b0000;
    min-height: 25em;
    padding:0 0;
}

#content {
    background-color: bisque;
    padding : 2em 2em;
}

#delAccount {
    margin-top: 3rem;
    margin-bottom: 0.3rem;
}