body {
    background-color: #bebebe;
}

td, th {
    text-align: center;
    border: 1px solid;
}

thead,tfoot {
    background-color: #333;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #ffcd07;
}

.fav {
    color : #e9bc07;
}

.btn-side-menu {
    margin-top:1em;
    padding-right: 2px;
    padding-left: 2px;
    width: 100% ;
    border-radius: 0 0;
    background-color: #9b2e11;
    border:none;
}

.gmap {
    background-color: rgba(0, 201, 101, 0.57);
}

.card-header {
    background-color: rgba(58, 157, 255, 0.25);
}

.del-button {
    background-color: #9b0000;
    border-color: #9b0000;
}

.del-button:hover {
    background-color: #dc000a;
    border-color: #dc000a;
}

#top-menu {
    background-color: rgba(24, 129, 157, 0.90);
    padding: 1.2em 1.5em;
    border-top-right-radius: 15px;
}

#side-menu {
    background-color: rgba(219, 57, 20, 0.90);
    min-height: 25em;
    padding:0 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#content {
    background-color: rgba(233, 188, 7, 0.90);
    padding : 2em 2em;
    border-bottom-right-radius: 15px;
}

#delAccount {
    margin-top: 3rem;
    margin-bottom: 0.3rem;
}