<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first page</title>
    <h1>Enjoy your front page</h1>
    <p><b>Members list :</b> <br>
        {% for member in members %}
             - {{ member.email }}<br>
        {% endfor %}
    </p>
    <p><b>Volunteers list :</b> <br>
        {% for volunteer in volunteers %}
             - {{ volunteer.user.email }}<br>
        {% endfor %}
    </p>
    <p><b>Moderators list :</b> <br>
        {% for mod in moderators %}
             - {{ mod.user.email }}<br>
        {% endfor %}
    </p>
    <p><b>Locations list :</b> <br>
        {% for loc in locations %}
            Nom :      {{ loc.name }} <br>
            Description : {{ loc.description }} <br>
            Moderator : {{ loc.moderator.user.email }} <br>
            {% for status in loc.status.all %}
                &emsp; Status : {{ status.activity }} <br>
                &emsp; Last Open Date : {{ status.open_date }} <br><br>
            {% endfor %}
        {% endfor %}
    </p>
</head>
<body>

</body>
</html>