<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ location.name }}</title>
</head>
<body>
{% block 'location_detail' %}
    <p>Nom : {{ location.name }}</p>
    <p>Description : {{ location.description }}</p>
    <p>Modérateur : {{ location.moderator.email }}</p>
    <p>Bénévoles : {% for entry in location.volunteerbase_set.all %}<br />
            {{ entry.volunteer.email }}
            {% if entry.volunteering_request.validated == False %}
        <b>Demande de confirmation</b>
            {% endif %}
        {% endfor %}
    </p>
    <p>slug : {{ location.slug }}</p>
    {% if user.is_authenticated %} <!-- TODO : Remove form if user is the moderator -->
        {% if disclaimer %}
             <b>{{ disclaimer }}</b>
        {% else %}
            <form method="POST" action="{% url 'require_volunteering' %}">
                <input type="text" name="comment"/>
                <input type="hidden" value="{{ location.slug }}" name="location"/>
                <input type="submit" value="Demander à être bénévole" />
                {% csrf_token %}
             </form>
    {% endif %}

    {% endif %}
{% endblock %}
</body>
</html>
