<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ location.name }}</title>
</head>
<body>
{% block 'location_detail' %}
    <h2>Nom : {{ location.name }}</h2>
    <p>Description : {{ location.description }}</p>
    <p>Modérateur : {{ location.moderator.email }}</p>
    <p>Bénévoles : {% for entry in location.volunteerbase_set.all %}<br />
            {{ entry.volunteer.email }}
            {% if entry.volunteering_request.validated != True %}
        <b>Demande de confirmation</b>
            {% endif %}
        {% endfor %}
    </p>
    <p>slug : {{ location.slug }}</p>
    {% if user.is_authenticated %}
        {% if disclaimer %}
             <b>{{ disclaimer }}</b>
            {% if location_mod %}
                <a href="{% url 'volunteers_pannel' location.slug %}">Panneau de modération</a>
            {% endif %}
        {% else %}
            <form method="POST" action="{% url 'require_volunteering' %}">
                <input type="text" name="comment"/>
                <input type="hidden" value="{{ location.slug }}" name="location"/>
                <input type="submit" value="Demander à être bénévole" />
                {% csrf_token %}
             </form>
        {% endif %}

        {% if opened %}
            <form action="{% url 'close_status' location.slug %}" method="post">
                <input type="submit" value="Fermer le lieu">
                {% csrf_token %}
            </form>
        {% else %} <!--TODO : "Ouvrir le lieu" proposé pour les modératurs en attente d'acceptation -->
             <a href="{% url 'add_status' location.slug %}">Ouvrir le lieu</a>
         {% endif %}
    {% endif %}

    {%if statuses %}
        <h2>Dernière activité du lieu référencée</h2>
        {% for status in statuses reversed%}
            <p>{{ status.activity}}, {{ status.open_date }} {% if status.close_date %}<b>Fermé le :</b> {{ status.close_date }} {% endif %}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>
