{% extends "moderator/userboard_mod.html" %}

{% block title %} Gestion de mes lieux {% endblock %}

{% block content %}
<h2 class="col-lg-12">Mes lieux</h2>
<table>
    <thead>
        <tr>
            <th>Nom du lieu</th>
            <th>Gestion des bénévoles</th>
            <th>Bilan d'activité</th>
        </tr>
    </thead>
        <tbody>
    {% for location in locations %}
             <tr>
                 <th>{{location.name}}</th>
                 <th><a href="{% url 'volunteers_panel' location.slug %}" class="btn btn-primary"></a></th>
                 <th><a href="{% url 'generate_pdf' location.slug %}" class="btn btn-primary" target="_blank"></a></th>
             </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}