{% extends 'moderator/userboard_base.html' %}

{% block title %} Modération : {{ location.name }} {% endblock %}

{% block side_menu %}
        <div class="col-lg-12">
        <a href="{% url 'location' location.slug %}" class="btn btn-primary btn-side-menu">Page du lieu</a>
        <a href="{% url 'location_edition' location.slug %}" class="btn btn-primary btn-side-menu">Modifier les informations</a>
       <a href="{% url 'volunteers_panel' location.slug %}" class="btn btn-primary btn-side-menu">Bénévoles</a>
        <a href="{% url 'generate_pdf' location.slug %}" class="btn btn-primary btn-side-menu">Statistiques</a>
        </div>
{% endblock %}