{% extends 'moderator/userboard_mod.html' %}


{% block content %}
    <h2>Gestion des bénévoles pour {{ location.name }}</h2>
    <table>
    <thead>
        <tr>
            <th colspan="3">Validés</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Utilisateur</b></td>
            <td><b>Date d'arrivée</b></td>
            <td><b>Actif</b></td>
            <td><b>Supprimer</b></td>
        </tr>
        {% for volunteer in validated %}
            <tr>
                <td>{{ volunteer.volunteer.username}}</td>
                <td>{{ volunteer.volunteering_request.date }}</td>
                <td>{{ volunteer.is_active }}</td>
                <td><a href="{% url 'validate' location.slug volunteer.volunteering_request.pk 'remove' %}">OUI</a></td>
            </tr>
        {% endfor %}
    </tbody>
  <thead>
        <tr>
            <th colspan="3">Candidatures</th>
        </tr>
    </thead>
  <tbody>
        <tr>
            <td><b>Utilisateur</b></td>
            <td colspan="2"><b>Valider la requête ?</b></td>

        </tr>
        {% for volunteer in required_by_vol %}
            <tr>
                <td>{{ volunteer.volunteer.username}}</td>
                <td><a href="{% url 'validate' location.slug volunteer.volunteering_request.pk 'validated' %}">OUI</a></td>
                <td><a href="{% url 'validate' location.slug volunteer.volunteering_request.pk 'remove' %}">NON</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <thead>
        <tr>
            <th colspan="3">Invitations envoyées</th>
        </tr>
    </thead>
  <tbody>
        <tr>
            <td><b>Utilisateur</b></td>
            <td><b>Date d'invitation</b></td>
            <td><b>Révoquer l'invitation ?</b></td>
        </tr>
        {% for volunteer in required_by_mod %}
            <tr>
                <td>{{ volunteer.volunteer.username}}</td>
                <td>{{ volunteer.volunteering_request.date }}</td>
                <td><a href="{% url 'validate' location.slug volunteer.volunteering_request.pk 'remove' %}">OUI</a></td>
            </tr>
        {% endfor %}

    </tbody>
        <thead>
        <tr>
            <th colspan="3">Nouvelle invitation</th>
        </tr>
</table>

    <form action="{% url 'new_vol' location.slug %}" method="post">
        <label about="username">Pseudonyme du bénévole</label>
    <input type="text" name="username"/>
      {% if no_user %}
      <input type="text" value="Mot de passe" name="password" />
      {% endif %}
      {% csrf_token %}
    <input type="submit" value="Envoyer la requête" />
</form>
{% endblock %}

<style>
</style>